@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* General */
html {
    height: 100vh;
}
body {
    background-color: #FADFA0;
    margin: 0px;
    height: 100%;
}
.container {
    height: 90%;
    display: flex;
}

/* Header */
header {
    background-color: #7A622A;
    height: 10%;
    width: 96%;
    padding: 0px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1, #github {
    flex: 0, 0, auto;
} 
h1 {
    font-family: Lobster, cursive;
    font-weight: normal;
    margin: 0px;
    color: white;
    
}

/* Panel */
#panel {
    background-color: #C7B17F;
    width: 164px;
    height: 96%;
    padding: 2% 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color_option {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
} 
.colorname, h2 {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.colorbutton {
    padding: 0;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    display: inline-block;
}
#white {
    background-color: white;
}
#black {
    background-color: black;
}
.credits {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
} .credits span {
    display: block;
}

/* Screen */
#screen {
    background-color: rgba(0, 0, 0, 0.37);
    margin: auto;
    width: 640px;
    height: 640px;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    width: 40px;
    height: 40px;
    background-color: white;
    flex: 0 0 auto;
}